*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App {
  background-image: url('bg-01.jpg');
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

